<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Hold the glass rod over the torch.
To access the videos, slowly pull the glass rod toward yourself.</string>
	<string>To navigate through the videos, slowly move your rod to the right.</string>
	<string>To watch a video, pause your rod on a video thumbnail, and hold it there.</string>
	<string>Move the rod slowly to the left and pause over another video thumbnail to play.</string>
	<string>To exit the video tutorials, move your rod back over the torch.</string>
</array>
</plist>
