<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Hold the glass rod over the torch.
Then, slowly pull the glass rod toward yourself.</string>
	<string>Move your rod to the right.</string>
	<string>Pause to play a video.</string>
	<string>Move the rod down and then pause.</string>
	<string>Move your rod back over the torch.
You&apos;ll see an illustration of the last video you watched.</string>
</array>
</plist>
